<ion-card>
    {{publicacion.id}}
<ion-card-header>
    <ion-grid>
        <ion-row>
           <ion-col size="11">
            <strong>{{publicacionImprimir.id}}</strong>
           </ion-col>
           <ion-col size="1">
             <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
           </ion-col>
        </ion-row>
    </ion-grid>
</ion-card-header>
    <ion-card-content>
        <img [src]="publicacionImprimir.imagen" alt="" height="120px">
    </ion-card-content>
    <div>
        <ion-grid>
            <ion-row>
                <!--iconos-->
                <ion-col size="1">
                    <ion-icon name="heart-outline"></ion-icon>
                </ion-col>
                <ion-col size="1">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </ion-col>
                <ion-col size="1">
                    <ion-icon name="paper-plane-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="bookmark-outline"></ion-icon>
                </ion-col>
                <ion-col save="1" offset="8">
                    <ion-icon name="bookmark"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-card>
